.error-indicator {
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-indicator img {
    margin-bottom: 1rem;
}

.ooops {
    font-size: 1.7rem;
}

img {
    height: 8rem;
}