@keyframes ldio-t8l56hnozxn-1 {
    0% { top: -5.157000000000005px; height: 201.314px }
    50% { top: 36.29px; height: 118.42px }
    100% { top: 36.29px; height: 118.42px }
}
@keyframes ldio-t8l56hnozxn-2 {
    0% { top: 5.204749999999989px; height: 180.59050000000002px }
    50% { top: 36.29px; height: 118.42px }
    100% { top: 36.29px; height: 118.42px }
}
@keyframes ldio-t8l56hnozxn-3 {
    0% { top: 15.566499999999996px; height: 159.867px }
    50% { top: 36.29px; height: 118.42px }
    100% { top: 36.29px; height: 118.42px }
}
.ldio-t8l56hnozxn div { position: absolute; width: 24.83px }.ldio-t8l56hnozxn div:nth-child(1) {
                                                                left: 35.335px;
                                                                background: #1d3f72;
                                                                animation: ldio-t8l56hnozxn-1 0.8403361344537814s cubic-bezier(0,0.5,0.5,1) infinite;
                                                                animation-delay: -0.1680672268907563s
                                                            }
.ldio-t8l56hnozxn div:nth-child(2) {
    left: 83.085px;
    background: #5699d2;
    animation: ldio-t8l56hnozxn-2 0.8403361344537814s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.08403361344537814s
}
.ldio-t8l56hnozxn div:nth-child(3) {
    left: 130.835px;
    background: #d8ebf9;
    animation: ldio-t8l56hnozxn-3 0.8403361344537814s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-ipdekvaqzs {
    width: 191px;
    height: 191px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-t8l56hnozxn {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-t8l56hnozxn div { box-sizing: content-box; }